#content {
    width: 800px;
    margin: 0 auto;
    background-color: #DCF2F0;
    padding: 1em;
    box-shadow: 10px 10px 30px;
    border: 3px dashed black;
}

body {
    background-color: #364259;
    font-family: 'Special Elite';
}

textarea {
    font-family: 'Special Elite';
    color: red;
}

h1 {
    font-weight: bold;
}

textarea {
    width: 90%;
    height: 10em;
}

#submit-button {
    width: 6em;
    height: 3em;
    display: block;
    clear: both;
}

#writeout p {
    border: 1px solid black;
    padding: 1em 0 1em 1em;
}

.change-message {
    float: right;
    display: block;
}